extends layout

block content
  .container
    - var i = 18
    - var j = 0
    script(src="/javascripts/profil.js")
    .ui.equal.width.form
      h2.ui.dividing.header Mon profil
      form(method="POST" action="/profil")
        .fields
          .field
            label Nom d"utilisateur:
            input(type="text" placeholder="Nom d'utilisateur" name="username" value=locals.data.username required readonly="")
          .field
            label Email:
            input(type="email" placeholder="nom@email.com" name="email" value=locals.data.email required autofocus="autofocus" tabindex="1")
        .fields
          .field
            label Nom:
            input(type="text" placeholder="Nom" name="lastname" value=locals.data.lastname required tabindex="2")
          .field
            label Prénom:
            input(type="text" placeholder="Prénom" name="firstname" value=locals.data.firstname required tabindex="3")
        .fields
          .field
            label Mot de passe:
            input(type="password" placeholder="Mot de passe" name="password" tabindex="4")
          .field
            label Confirmation du mot de passe:
            input(type="password" placeholder="Mot de passe" name="confirmPassword" tabindex="5")
        .fields
          .field
            label Sexe:
            select.ui.fluid.dropdown(name="sexe" id="sexe" required tabindex="6")
              option Homme
              option Femme
          .field
            label Orientation sexuel:
            select.ui.fluid.dropdown(name="orientation" id="orientation" required tabindex="7")
              option Bisexuelle
              option Hétérosexuelle
              option Homosexuelle
          .field.two.wide
            label Age:
            select.ui.fluid.dropdown(name="age" id="age" required tabindex="8")
              while i < 100
                option= i++
        .field
          label Biographie
          textarea(name="bio" required tabindex="9")= locals.data.bio
        button.ui.primary.submit.button.fluid.large(type="submit" required tabindex="10") Mettre a jour
    .ui.grid
      .row
        .height.wide.column(style="min-width:400px; margin-top:20px;")
          h2.ui.dividing.header Localisation
          form(method="POST" action="/loc")
            input(type="text" placeholder="Exemple: Paris" name="city" value=locals.data.city required tabindex="11" style="margin-right: 10px;")
            button.ui.primary.submit.button(type="submit" required tabindex="12") Mettre a jour
          a.button.ui.yellow(href="/loc" tabindex="14") Se géolocaliser
        .height.wide.column(style="min-width:400px; margin-top:20px;")
          h2.ui.dividing.header Tags
          form(method="POST" action="/tag/add")
            input#tag(type="text" placeholder="tag" name="tag" required tabindex="15" style="margin-right: 10px;")
            button.ui.primary.submit.button#tagsubmit(type="submit" required tabindex="16") Ajouter un tag
          br
          .tagadd
            each tag in tags
              .ui.label.yellow(style="margin-top: 5px;")= tag["tag"]
                a#taglist(onclick="deltag(this)" data-tag=tag["tag"])
                  i.icon.close
    h2.ui.dividing.header Images
    .ui.link.cards
      while j < 5
        .card#grey(style="width:auto;")
          .extra.content
            if j == 0
              label= "Photo de profil"
            else
              label= "Images " + j
          if (j == 0 && locals.data.pic0)
            a.image.pic(href=data.pic0)
              img(src=locals.data.pic0)
          if (j == 1 && locals.data.pic1)
            a.image.pic(href=data.pic1)
              img(src=locals.data.pic1)
          if (j == 2 && locals.data.pic2)
            a.image.pic(href=data.pic2)
              img(src=locals.data.pic2)
          if (j == 3 && locals.data.pic3)
            a.image.pic(href=data.pic3)
              img(src=locals.data.pic3)
          if (j == 4 && locals.data.pic4)
            a.image.pic(href=data.pic4)
              img(src=locals.data.pic4)
          br
          form#fileUpload(method="post" action="/upload/pic" + j enctype="multipart/form-data")
            label(for="payload") Changer l'image : 
            input#payload.ui(type="file" name="myFile" accept="image/*" size="200%")
            br
            br
            button#upload.primary.button.ui.fluid Upload
            - j++
      script.
        var val = "#{locals.data.sexe}";
        var sel = document.getElementById("sexe");
        var opts = sel.options;
        for(var opt, j = 0; opt = opts[j]; j++) {
          if(opt.value == val) {
            sel.selectedIndex = j;
            break;
          }
        }
        var val = "#{locals.data.orientation}";
        var sel = document.getElementById("orientation");
        var opts = sel.options;
        for(var opt, j = 0; opt = opts[j]; j++) {
          if(opt.value == val) {
            sel.selectedIndex = j;
            break;
          }
        }
        var val = "#{locals.data.age}";
        var sel = document.getElementById("age");
        var opts = sel.options;
        for(var opt, j = 0; opt = opts[j]; j++) {
          if(opt.value == val) {
            sel.selectedIndex = j;
            break;
          }
        }
