block content
  .container
    - var blocked = 0
    script(src="/javascripts/result.js")
    h2#columntitle Résultat de la recherche
    #filter
      br
      .ui.grid
        .height.wide.column
          label#ML(for="amount-age") Filtrer par âge :
          input(type="text" id="amount-age" readonly style="border:0; color:#f6931f; font-weight:bold;")
          #slider-range-age(style="margin: 15px")
        .height.wide.column
          label#ML(for="amount-pop") Filtrer par popularité :
          input(type="text" id="amount-pop" readonly style="border:0; color:#f6931f; font-weight:bold;")
          #slider-range-pop(style="margin: 15px")
        .height.wide.column
          label#ML(for="amount-dist") Filtrer par distance (km) :
          input(type="text" id="amount-dist" readonly style="border:0; color:#f6931f; font-weight:bold;")
          #slider-range-dist(style="margin: 15px")
      br
      label#ML Filtrer par tags : 
      each tag in alltags
        .ui.label.lightgrey.button.trans(onclick="sorttag(this)" style="margin-top: 5px;" data-tag=tag["tag"])= tag["tag"]
      br
      br
      .ui.bottom.attached.button.primary#validate2 Filtrer la recherche
    br
    br
    .ui.grid
      .right.floated.right.aligned
        span= "Trier par : "
        .blue.ui.buttons
          button.ui.button#ageAscending Age
          button.ui.button#popDescending Pop
          button.ui.button#distAscending Dist
          button.ui.button#tagsDescending Tags
    br
    span.hidden#userlat= userlat
    span.hidden#userlon= userlon
    each tag in tags
      if tag["username"] == username.toLowerCase()
        span.mytags.hidden(data-tag=tag["tag"])= tag["tag"]
    .filtertag
    .ui.link.cards.users
      each row in rows
        each block in blocks
          if block["blocked"] == row["username"]
            - blocked = 1
        if blocked == 0
          a.ui.card.user#grey(href="/u/"+ row["username"])
            .image
              img(src=row["pic0"])
            .content
              if row["sexe"] == "Homme"
                .ui.right.floated.icon.button.blue
                  i.man.icon.right.floated
              else
                .ui.right.floated.icon.button.pink
                  i.woman.icon.right.floated
              .header
                span= row["firstname"].substring(0,25) + " " + row["lastname"].substring(0,25)
              .meta
                span#age= row["age"] + " ans."
                br
                span= "Distance : "
                span#dist
                span km
                span#lat.hidden= row["lat"]
                span#lon.hidden= row["lon"]
              .description
                if row["bio"] && row["bio"].length > 699
                  span= row["bio"].substring(0,699)+" ..."
                else
                  span= row["bio"]
            .extra.content(style="padding:0;")
              each tag in tagsu
                if tag["username"] == row["username"].toLowerCase()
                  .ui.label.yellow.tags(data-tag=tag["tag"])= tag["tag"]
            .extra.content
              .ui.labeled.icon.button.red
                i.heart.icon
                p#pop= row["likes"]
              if row["orientation"] == "Hétérosexuelle"
                .ui.right.floated.icon.button#gold
                  i.heterosexual.icon.right.floated
              else if row["sexe"] == "Homme"
                .ui.right.floated.icon.button.blue
                  i.gay.icon.right.floated
              else if row["sexe"] == "Femme"
                .ui.right.floated.icon.button.pink
                  i.lesbian.icon.right.floated
              if row["orientation"] == "Bisexuelle"
                .ui.right.floated.icon.button#gold
                  i.heterosexual.icon.right.floated
        else
          - blocked = 0
  script.
    $(function() {
      $("#slider-range-age").slider({
        range: true,
        min: #{locals.age0},
        max: #{locals.age1},
        values: [#{locals.age0}, #{locals.age1}],
        slide: function(event, ui) {
          $("#amount-age").val(ui.values[0] + " - " + ui.values[1])
        }
      })
      $("#amount-age").val($("#slider-range-age").slider("values", 0) + " - " + $("#slider-range-age").slider("values", 1))

      $("#slider-range-pop").slider({
        range: true,
        min: #{locals.pop0},
        max: #{locals.pop1},
        values: [#{locals.pop0}, #{locals.pop1}],
        slide: function(event, ui) {
          $("#amount-pop").val(ui.values[0] + " - " + ui.values[1])
        }
      })
      $("#amount-pop").val($("#slider-range-pop").slider("values", 0) + " - " + $("#slider-range-pop").slider("values", 1))

      function distance(lat1, lon1, lat2, lon2, unit) {
        var radlat1 = Math.PI * lat1/180
        var radlat2 = Math.PI * lat2/180
        var theta = lon1-lon2
        var radtheta = Math.PI * theta/180
        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        dist = Math.acos(dist)
        dist = dist * 180/Math.PI
        dist = dist * 60 * 1.1515
        if (unit=="K") { dist = dist * 1.609344 }
        if (unit=="N") { dist = dist * 0.8684 }
        return dist
      }

      $('.cards .card').each(function() {
        $(this).find("#dist").append(parseInt(distance($(this).find("#lat").text(), $(this).find("#lon").text(), $("#userlat").text(), $("#userlon").text(), "k"), 10))
      })

      $("#slider-range-dist").slider({
        range: true,
        min: #{locals.dist0},
        max: #{locals.dist1},
        values: [#{locals.dist0}, #{locals.dist1}],
        slide: function(event, ui) {
          if (ui.values[0] != 0 || ui.values[1] != 500)
            $("#amount-dist").val(ui.values[0] + " - " + ui.values[1])
          else
            $("#amount-dist").val("")
        }
      })
      if (#{locals.dist0} != 0 || #{locals.dist1} != 500)
        $("#amount-dist").val($("#slider-range-dist").slider("values", 0) + " - " + $("#slider-range-dist").slider("values", 1))

      $('.cards.users .user').hide().filter(function() {
        var age = parseInt($(this).find("#age").text())
        var pop = parseInt($(this).find("#pop").text())
        var dist = parseInt($(this).find("#dist").text())
        var arrayclasses = "#{locals.tags}".split(" ")
        var tag = this.querySelectorAll(".tags")
        var ret = 1
        $.each(arrayclasses, function(index, val) {
          if (index > 0) {
          $('[data-tag="' + val + '"]').removeClass('lightgrey button').addClass('orange').attr('onclick', '')
            var i = 0;
            while (tag[i] && tag[i].getAttribute("data-tag") != val)
              i++;
            if (!tag[i] || tag[i].getAttribute("data-tag") != val) {
              ret = 0;
            }
          }
        })
        if (#{locals.dist0} != 0 || #{locals.dist1} != 500)
          return age >= $("#slider-range-age").slider("values", 0) &&
            age <= $("#slider-range-age").slider("values", 1) &&
            pop >= $("#slider-range-pop").slider("values", 0) &&
            pop <= $("#slider-range-pop").slider("values", 1) &&
            dist >= $("#slider-range-dist").slider("values", 0) &&
            dist <= $("#slider-range-dist").slider("values", 1) &&
            ret != 0
        else
          return age >= $("#slider-range-age").slider("values", 0) &&
            age <= $("#slider-range-age").slider("values", 1) &&
            pop >= $("#slider-range-pop").slider("values", 0) &&
            pop <= $("#slider-range-pop").slider("values", 1) &&
            ret != 0
      }).show()

      $("#validate2").click(function() {
        $('.cards.users .user').hide().filter(function() {
          var age = parseInt($(this).find("#age").text())
          var pop = parseInt($(this).find("#pop").text())
          var dist = parseInt($(this).find("#dist").text())
          var arrayclasses = "#{locals.tags}".split(" ")
          var arrayclasses2 = $(".filtertag").attr("class").split(" ")
          var tag = this.querySelectorAll(".tags")
          var ret = 1
          $.each(arrayclasses, function(index, val) {
            if (index > 0) {
              var i = 0;
              while (tag[i] && tag[i].getAttribute("data-tag") != val)
                i++;
              if (!tag[i] || tag[i].getAttribute("data-tag") != val) {
                ret = 0;
              }
            }
          })
          $.each(arrayclasses2, function(index, val) {
            if (index > 0) {
              var i = 0;
              while (tag[i] && tag[i].getAttribute("data-tag") != val)
                i++;
              if (!tag[i] || tag[i].getAttribute("data-tag") != val) {
                ret = 0;
              }
            }
          })
          if (#{locals.dist0} != 0 || #{locals.dist1} != 500)
            return age >= $("#slider-range-age").slider("values", 0) &&
              age <= $("#slider-range-age").slider("values", 1) &&
              pop >= $("#slider-range-pop").slider("values", 0) &&
              pop <= $("#slider-range-pop").slider("values", 1) &&
              dist >= $("#slider-range-dist").slider("values", 0) &&
              dist <= $("#slider-range-dist").slider("values", 1) &&
              ret != 0
          else
            return age >= $("#slider-range-age").slider("values", 0) &&
              age <= $("#slider-range-age").slider("values", 1) &&
              pop >= $("#slider-range-pop").slider("values", 0) &&
              pop <= $("#slider-range-pop").slider("values", 1) &&
              ret != 0
        }).show()
      })
    })
